div {
    width: 100px;
    height: 100px;
}

#a {
    background-color: red;
    float: left;
}
#b {
    background-color: orange;
    float: left;
}
#c {
    background-color: yellow;
    float: left;
}
#d {
    background-color: green;
    /* clear: left; */
    /* float: left; */
    width: 150px;
    height: 150px;
}
#e {
    background-color: blue;
    float: left;
}